<% layout('/WebpageLayouts/Decoration') %>
<link rel="stylesheet" href="/Styles/EditResource.css">

<!--<h1>Edit Resource</h1>
    <form action="/resources/<%= resource._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="resource[title]" value="<%= resource.title%>">
        </div>

        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="resource[location]" value="<%= resource.location%>">
        </div>

        <button>Update Resource</button>
    </form>
    <a href="/resources/<%= resource._id%>">Back to Resource</a>-->

<div class="row">

    <div class="col-xl-8 offset-xl-2 col-md-8 offset-md-2 mb-3 mt-0">
        <div class="card shadow">
            <div class="div card-body">
        <h1 class="text-center">Edit Resource</h1>
        <form action="/resources/<%= resource._id%>?_method=PUT" method="POST" novalidate class="validated-form"
              enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="resource[title]" value="<%= resource.title%>" required>
                <div class="valid-feedback">
                    Title is good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="resource[location]" value="<%= resource.location%>" required>
                <div class="valid-feedback">
                    Location is good!
                </div>
            </div>

            <!--<div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input type="file" name="image" id="image" multiple>
                &lt;!&ndash;<input class="form-control" type="text" id="location" name="resource[image]" value="<%= resource.image%>" required>
                <div class="valid-feedback">
                    Image Link is good
                </div>&ndash;&gt;
            </div>-->


            <div class="mb-3">
                <label class="form-label" for="Category">Resource Category</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="category-label">Category</span>
                    </div>
                    <input type="text" class="form-control" id="Category" aria-label="Category"
                           aria-describedby="category-label" name="resource[category]" value="<%= resource.category%>" required>
                    <div class="valid-feedback">
                        Category is good
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="Content">Content</label>
                <textarea class="form-control" type="text" id="Content" name="resource[content]" required>
                    <%=resource.content%>
                </textarea>
                <div class="valid-feedback">
                    Content is good
                </div>
            </div>

            <div class="mb-3">
                <!--<label for="">Upload Images</label>-->
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)..</span>
                        <!--<span class="form-file-button">Browse</span>-->
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <% resource.images.forEach(function(img,i) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                    <label for="image-<%=i%>">Delete?</label>
                <%})%>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update Resource</button>
            </div>

        </form>
        <a href="/resources">All Resources</a>
    </div>
        </div>
    </div>
</div>
