<% layout('/WebpageLayouts/Decoration') %>

<div id="map" style="width: 100%; height: 500px "></div>
<h1>All Resources</h1>
<div>
    <a href="/resources/AddResource">Add Resource</a>
</div>
<p>
    <form action='/resources' method="GET" class="form-inline"> 
        <div class="form-group">
            <input type='text' name='search' placeholder="SJSU Resources search ..." class="form-control">
            <input type='submit' value="Search" class='btn btn-primary'>
        </div>
    </form>
</p>
<h1>All Resources</h1>
<div>
    <a href="/resources/AddResource">Add Resource</a>
</div>
<% for (let resource of resources) {%>
    <div class="card" mb-3>
        <div class="col-md-4">
            <% if(resource.images.length) {%>
            <img class="img-fluid" alt="" src="<%=resource.images[0].url%>">
            <% } else {%>
            <img class="img-fluid" alt="" src="https://res.cloudinary.com/drfqvbb8y/image/upload/v1606634581/SpiritWorld/p5erc5ocofq6bwflgqi3.png">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= resource.title %> </h5>
                <p class="card-text"><%= resource.content%></p>
                <p class="card-text"><small class="text-muted"><%= resource.location %></small></p>
                <a class="btn btn-primary" href="/resources/<%=resource._id %>">View More about <%=resource.title%></a>
            </div>
        </div>
    </div>
<% }%>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN %>';

</script>

<script src="/Scripts/resourceMap.js"></script>
