<% layout('/WebpageLayouts/Decoration') %>
<link rel="stylesheet" type = "text/css" href="Styles/index.css">

<div id="cluster-map" style="width: 100%; height: 500px "></div>
<div class="container">
<h1>All Resources</h1>

<div>
    <% if(currentUser && currentUser._id.equals('5fc4acacee35083248601578')) {%>
        <a href="/resources/AddResource">Add Resource</a>
    <%}%>
</div>

<nav id="searchNav" class="navbar navbar-expand navbar-light bg-white shadow-sm">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form class="sortForm" action="/resources" method="GET">
                <input type="text" name="sortby" value="rateAvg" class="d-none">
                <button type="submit" class="dropdown-item">Highest Rated & Most Reviewed</button>
              </form>
             
              
              <a href="/resources" href class="dropdown-item">Reset</a>
            </div>
          </li>
        </ul>
        <div class="d-none d-md-block">
          <form action="/resources" method="GET" class="input-group">
            <input type="text" class="form-control" type="text" name="search" placeholder="Search Resources..." aria-label="Search">
            <div class="input-group-append">
                <input type='submit' value="Search" class='btn btn-primary'>
                    <i class="fa fa-search"></i>
                  
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>



  <div class="container">
    <div class="row">
      <% resources.forEach(function(resource) { %>
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch" >
          <div class="card indexCards shadow border-0 mt-4" style="max-width: 18rem;">
                  <% if(resource.images.length) {%>
                  <img class="bd-placeholder-img card-img-top" width="100%" height="180" alt="" src="<%=resource.images[0].url%>">
                  <% } else {%>
                  <img class="bd-placeholder-img card-img-top" width="100%" height="180" alt="" src="https://res.cloudinary.com/drfqvbb8y/image/upload/v1606634581/SpiritWorld/p5erc5ocofq6bwflgqi3.png">
                  <% } %>
           
            <div class="card-body"  style="width: 18rem;">
              
              <h5 class="card-title text-capitalize"> <%= resource.title %></h5>
              <p class="card-text"><%= resource.category%></p>
               <p class="card-text"><small class="text-muted"><%= resource.location %></small></p>
              
               <h6 class="card-subtitle">
                <% if(resource.reviews.length == 0) { %>
                  <span class="text-muted">No Reviews</span>
                <% } else { %>
                  <% var stars = ['<i class="far fa-star text-danger "></i>', '<i class="far fa-star text-danger "></i>', '<i class="far fa-star text-danger "></i>', '<i class="far fa-star text-danger "></i>', '<i class="far fa-star text-danger "></i>'] %>
                  <% for(var i = 0; i < Math.round(resource.rateAvg); i++) { %>
                      <% stars[i] = '<i class="fas fa-star text-danger "></i>' %>
                  <% } %>
                  <% for(var i = 0; i < stars.length; i++) { %>
                    <%- stars[i] %>
                  <% } %>
                  <% if (resource.reviews.length === 1) { %>
                    <span class="text-muted"><%= resource.reviews.length %> Review</span> 
                  <% } else { %>
                    <span class="text-muted"><%= resource.reviews.length %> Reviews</span>
                  <% } %>
                <% } %>
              
              </h6>
              <% if(currentUser) {%>
              <a class="btn btn-primary" href="/resources/<%=resource._id %> " style="margin-top: 10px;">View More</a>
              <%}%>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  </div>
  </div>
  </div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
    const resources = {features: <%- JSON.stringify(resources)%>}
</script>

<script src="/Scripts/resourceMap.js"></script>

</div>